.flex-container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;

}
.flex-container div
{
 padding: 50px;
}
.write{
    text-align: center;
}
.foot{
  position: static;
  padding: 10px;
  margin-top: 10px;
  left:0;
  bottom:0;
  width:100%;
  background-color:skyblue;
  color:black;
  text-align:center;
}
.homepage
{
    height: 20px;
    text-align: center;
    padding-top: 10px;
}